<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ariadna.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Ariadna.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AriadnaEntities" connectionString="metadata=res://*/AriadnaModel.csdl|res://*/AriadnaModel.ssdl|res://*/AriadnaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=G:\Ariadna\ARIADNA.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Ariadna.Properties.Settings>
      <setting name="TotalCommanderPath" serializeAs="String">
        <value>A:\PROGRAMS\UTILITIES\Total_Commander\Total Commander\Totalcmd64.exe</value>
      </setting>
      <setting name="TmdbApiKey" serializeAs="String">
        <value>ec3e7f0826eb6ef92dc4b1f69f1e1dd3</value>
      </setting>
      <setting name="MoviePostersRootPath" serializeAs="String">
        <value>G:\Ariadna\movies\</value>
      </setting>
      <setting name="DocumentaryPostersRootPath" serializeAs="String">
        <value>G:\Ariadna\documentary\</value>
      </setting>
      <setting name="GamePostersRootPath" serializeAs="String">
        <value>G:\Ariadna\games\</value>
      </setting>
      <setting name="DefaultGamesPath" serializeAs="String">
        <value>A:\GAMES\</value>
      </setting>
      <setting name="DefaultGamesPathVR" serializeAs="String">
        <value>A:\GAMES\_VR_\</value>
      </setting>
      <setting name="DefaultMoviesPath" serializeAs="String">
        <value>M:\</value>
      </setting>
      <setting name="DefaultMoviesPathTMP" serializeAs="String">
        <value>A:\MOVIES\</value>
      </setting>
      <setting name="DefaultSeriesPath" serializeAs="String">
        <value>S:\</value>
      </setting>
      <setting name="DefaultDoocumentariesPath" serializeAs="String">
        <value>A:\DOCUMENTARY\</value>
      </setting>
      <setting name="MediaPlayerPath" serializeAs="String">
        <value>C:\Program Files\MEDIA\K-Lite Codec Pack\MPC-HC64\mpc-hc64.exe</value>
      </setting>
      <setting name="PreviewSuffix" serializeAs="String">
        <value>_preview</value>
      </setting>
      <setting name="RecentInMonth" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="GenreImageWidth" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="GenreImageHeight" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="PosterWidth" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="PosterHeight" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="PortraitWidth" serializeAs="String">
        <value>54</value>
      </setting>
      <setting name="PortraitHeight" serializeAs="String">
        <value>81</value>
      </setting>
      <setting name="PreviewWidth" serializeAs="String">
        <value>603</value>
      </setting>
      <setting name="PreviewHeight" serializeAs="String">
        <value>339</value>
      </setting>
      <setting name="PreviewSmallWidth" serializeAs="String">
        <value>137</value>
      </setting>
      <setting name="PreviewSmallHeight" serializeAs="String">
        <value>77</value>
      </setting>
      <setting name="MaxGenresCount" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="BitmapInitialSearchDir" serializeAs="String">
        <value>T:\Downloads\</value>
      </setting>
      <setting name="VideoFilesFilter" serializeAs="String">
        <value>Video files|*.avi;*.mkv;*.mpg;*.mp4;*.m4v;*.ts|All files (*.*)|*.*</value>
      </setting>
      <setting name="ImdbLanguage" serializeAs="String">
        <value>ru-RU</value>
      </setting>
      <setting name="DefaultLibraryPath" serializeAs="String">
        <value>A:\LIBRARY\</value>
      </setting>
      <setting name="LibraryPostersRootPath" serializeAs="String">
        <value>G:\Ariadna\library\</value>
      </setting>
      <setting name="LibraryFilesFilter" serializeAs="String">
        <value>All files (*.*)|*.*</value>
      </setting>
    </Ariadna.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Ariadna.Properties.Settings>
      <setting name="FormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="FormSize" serializeAs="String">
        <value>1920, 1080</value>
      </setting>
      <setting name="DefaultMoviesPathTMP2" serializeAs="String">
        <value>S:\MOVIES\</value>
      </setting>
    </Ariadna.Properties.Settings>
  </userSettings>
</configuration>